{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<nav    class="menu">
  <ul class="topmenu">
      <li><a href="http://127.0.0.1:8000/home/">Home</a></li>

    <li><a href="http://127.0.0.1:8000/all_products/all_products/" class="active">Categories<span class="fa fa-angle-down"></span></a>
      <ul class="submenu">




      </ul>
    </li>
    <li><a href="">About us</a></li>
    <li><a href="">Contacts<span class="fa fa-angle-down"></span></a>
    <ul class="submenu">
            <li><a href="">JOHN KANLEY<br>
              senior<span class="fa fa-angle-down"></span></a>
                <ul class="submenu">
                  <li><a href="">+44 7518 1934</a></li>
                </ul>
            <li><a href="">Jakub Milkevich<br>
              midle<span class="fa fa-angle-down"></span></a>
                    <ul class="submenu">
                  <li><a href="">+44 7518 1934</a></li>
                </ul>
          </ul>

  </ul>
</nav>


    <div class="ab">
                    <img src="/static/images/Coffe_cups.jpg" id="about">
                    <p  id="about1"><b>ABOUT US</b></p>
                    <p  id="about_tex1">
                        A cozy atmosphere that embodies the perfect<br> combination of comfort and style.<br>
                        A wide selection of gourmet dishes prepared with love<br> from natural products.</p>
                    <p  id="about_tex2">Masterfully brewed coffee that will give you<br> an unsurpassed aroma and mood for the whole day.<br>
                    Excellent service,<br> because for us you are the most important thing.</p>
                    <button id="but_about">LEARN MORE</button>
            </div>


                    <div    class="finish_page">
                                    <hr id="finish1">
                                    <p id="rezerv">FOR REVERSION</p>
                                    <p  id="number_rezerv">+44 791-856-843</p>
                                    <p  id="number_rezerv2" >+44 791-856-843</p>
                                    <p  id="email_rezerv">ALEKS@GAMIL.COM</p>
                    </div>
</body>
</html>